<launch>
	<node pkg="tf" type="static_transform_publisher" name="baselink_velodyne_broadcaster" 
		args="0 0 0.2 0 0 0 1 base_footprint velodyne 100" /> 
	<node pkg="orientus_driver" type="orientus_node" name="imu"/>
	<!-- <param name="/use_sim_time" value="true"/> -->
	<node pkg="rviz" type="rviz" name ="rviz" args="-f map"/>
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
	<include file="$(find wheelchair)/launch/hector_mapping.launch"/>
</launch>