<launch>
	<node pkg="rviz" type="rviz" name ="rviz" args="-f velodyne"/>
	<node pkg="tf" type="static_transform_publisher" name="baselink_velodyne_broadcaster" 
		args="0 0 0.2 0 0 0 1 base_footprint velodyne 100" /> 
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
	<include file="$(find hector_mapping)/launch/mapping_default.launch"/>
</launch>